@charset "utf-8";

* {
  margin: 0; 
  padding: 0; 
  border: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

html, body {
  height: 100%;
}
body {
  padding-top: 70px; 
  box-sizing: border-box;
}

nav {
  width: 100%; 
  height: 70px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  box-shadow: 0 0 5px 5px gray; 
  position: fixed; 
  top: 0; 
  background-color: white; 
  z-index: 1000;
}
nav h2 {
  text-align: center; 
  line-height: 20px; 
  margin-left: 20px; 
  white-space: nowrap; 
  color: #00107b;
}
nav h2 a:visited {
  color: inherit;
}
nav ul {
  display: flex; 
  justify-content: center; 
  padding: 0; 
  gap: 80px; 
  box-sizing: border-box; 
  white-space: nowrap;
}
nav ul li {
  float: left;
}
nav ul li a {
  color: black; 
  font-size: 16px;
}

nav ul li a:hover {
  color: #00107b; 
  font-weight: bold;
}

i {
  color: white;
}

.info {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  gap: 10px; 
  margin-right: 50px; 
  white-space: nowrap;
}
.info a {
  color: black; 
  font-size: 16px;
}
.info div {
  text-align: center;
}
.infoo {
  border-right: solid 2px; 
  padding-right: 10px;
}

.main_container {
  width: 100%; 
  height: 100%; 
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container_center {
  width: 80%;
  height: 90%;
}

.menu_container {
  float: left;
  width: 27%;
  height: 100%;
  padding: 2%;
  box-sizing: border-box;
}
.menu_container i {
  color: black;
}
.memInfoBtn {
  background-color: white;
  width: 96%;
  height: 10%;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 10%;
  box-sizing: border-box;
  letter-spacing: 1px;
  margin-bottom: 10px;
  cursor: pointer;
}
.memConfigBtn {
  background-color: white;
  width: 96%;
  height: 10%;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 10%;
  box-sizing: border-box;
  letter-spacing: 1px;
  cursor: pointer;
}
.logoutBtn {
  background-color: white;
  width: 45%;
  height: 8%;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 10%;
  box-sizing: border-box;
  letter-spacing: 1px;
  position: relative;
  bottom: -68%;
  cursor: pointer;
}

.info_box {
  float: right;
  width: 73%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
}

.info_container {
  width: 100%;
  height: 88%;
  padding: 5%;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.info_container h3 {
  margin-bottom: 20px;
}
.info_table {
  width: 80%;
  height: 55%;
  border-collapse: collapse;
}
.email_table {
  width: 80%;
  height: 11%;
  border-collapse: collapse;
  margin-top: 30px;
}

.info_container tr th {
  width: 23%;
  background-color: #eeeeee;
  font-size: 14px;
  text-align: left;
  padding-left: 13px;
  box-sizing: border-box;
  border-top: solid 1px rgb(193, 193, 193);
  border-bottom: solid 1px rgb(193, 193, 193);
}
.info_container tr td {
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  border-top: solid 1px rgb(193, 193, 193);
  border-bottom: solid 1px rgb(193, 193, 193);
}
table th:first-child,
table td:first-child {
	border-left: 0;
}
table th:last-child,
table td:last-child {
	border-right: 0;
}

.saveBtn_box {
  width: 100%;
  height: 12%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.saveBtn_box button {
  width: 80px;
  height: 38px;
  float: right;
  margin-right: 40px;
  border-radius: 7px;
  background-color: white;
  border: solid 2px #00107b;
  color: #00107b;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}