/* surveyPage3.css */

.survey-page3-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-box {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.section-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #00107b;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level-options label {
  margin-right: 2rem;
  font-size: 1rem;
}

.grade-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grade-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grade-row input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  width: 200px;
}

.delete-button {
  background: #a0a0a0;
  border: none;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8rem;
}

.mock-box {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.mock-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.mock-score-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
}

.mock-subject-button {
  background: black;
  color: white;
  border: none;
  width: 130px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  text-align: center;
}

.mock-score-input {
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  width: 150px;
}

.mock-popup {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  width: 400px;
  height: 400px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-title {
  font-weight: bold;
  margin-bottom: 2rem;
  font-display: center;
}

.popup-content {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-button {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.popup-mintitle {
  margin-bottom: 0.8rem;
}

.popup-content button {
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
  cursor: pointer;
}

.popup-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.popup-checkBtn {
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
  cursor: pointer;
}